body {
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    gap: 80px;
}

/* Left Section */
.left {
    width: 450px;
}

.logo {
    color: #1877f2;
    font-size: 56px;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: Helvetica, Arial, sans-serif;
}

.left p {
    font-size: 20px;
    color: #1c1e21;
}

/* Right Section */
.right form {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
    width: 350px;
    gap: 12px;
}

.right input {
    border: 1px solid #dddfe2;
    border-radius: 6px;
    padding: 14px;
    font-size: 16px;
}

.login-btn {
    background-color: #1877f2;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 14px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.right a {
    text-decoration: none;
    color: #1877f2;
    font-size: 14px;
    text-align: center;
    margin: 5px 0;
}

.signup {
    background-color: #42b72a;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 14px;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
}

/* Hover Effects */
.login-btn:hover {
    background-color: #166fe5;
}

.signup:hover {
    background-color: #36a420;
}
